div {
    text-align: center;
}

.custom-hr {
    margin-top: 100px;  /* 上邊距 */
    margin-bottom: 20px;  /* 下邊距 */
    border: 1px solid #000;  /* 控制 hr 的樣式，如顏色和粗細 */
}

.shop-button {
    background-color: #347928; /* 藍色背景 */
    color: white; /* 文字顏色 */
    font-size: 24px; /* 文字大小 */
    font-weight: bold; /* 文字加粗 */
    padding: 3px 20px; /* 內邊距 */
    text-align: center; /* 文字居中 */
    display: inline-block; /* 將按鈕變成 inline-block，使其具有按鈕的樣式 */
    border-radius: 2px; /* 圓角 */
    text-transform: uppercase; /* 文字大寫 */
    letter-spacing: 2px; /* 字母間距 */

    margin-top: 60px;  /* 上邊距 */
    margin-bottom: 40px; /* 下邊距 */
    padding-top: 10px;   /* 內邊距上 */
    padding-bottom: 0px; /* 內邊距下 */
}

.carousel .carousel-item {
  height: 300px;
}

.carousel .carousel-item img {
  min-height: 300px;
  max-height: 400px;
  object-fit: cover;
}


 .store-info {

            padding: 20px;
            border-radius: 10px;
            text-align: left;
            color: black; /* 更改字體顏色為深藍色 */
        }